.DS_Store
node_modules/
plugin/dist/
.env

# Generated spec files (created by Claude, served temporarily)
spec*.json
test-spec*.json

# Generated analysis/update files (created by plugin, served temporarily)
analysis.json
update-result.json
updates.json
